<!DOCTYPE html>
<html>
<head>
	<title>Microsoft Azure</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<style>
form {
    border: 2px solid black;
	background-color:gray
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
	font-size;8px;
}

</style>
<body>
<h1 id = "message">Shwetha Lathi - 1001192139 - Quiz8 - Cloud Computing</h1>
<h2>Admin View</h2>
	        <div>

                        <form action="/create" method ="post" enctype = "multipart/form-data">
               <h2>Create Table</h2>
                                         Create and Upload Table:
                                         <input type="submit" value="Create" name="create">

                        </form>

        </div>
<div>
        <br>
        <br>
</div>
<div>

							<form action="/addnew" method ="post" enctype = "multipart/form-data">
		 <h2>Add New Food</h2>
															 Add Food:
															 <input type="file" name="file" value="file" placeholder="Browse"/>
															 <br>
															 Enter Food Name:
															 <input type="text" name="fdname" value=""/>
															 <br>
															 Enter Food Type:
															 <input type="text" name="fdtype" value=""/>
															 <br>
															 Enter ingredients(comma seperated):
															 <input type="text" name="inping" value=""/>
															 <br>
															 Enter quantity(comma seperated):
															 <input type="text" name="inpquan" value=""/>
															 <input type="submit" value="AddFood" name="addfood">

							</form>

</div>
<div>
<br>
<br>
</div>
<div>

							<form action="/top" method ="post" enctype = "multipart/form-data">
		 <h2>View Top Ingredients</h2>
															 Top 5 ingredients:
															 <input type="submit" value="Viewingredients" name="viewIngredients">

							</form>

</div>
<div>
<br>
<br>
</div>
<div>

							<form action="/popular" method ="post" enctype = "multipart/form-data">
		 <h2>View Popular Food</h2>
															 Popular Food:
															 <input type="submit" value="ViewPopular" name="viewPopular">

							</form>

</div>
<div>
<br>
<br>
</div>
<div>

							<form action="/search" method ="post" enctype = "multipart/form-data">
		 <h2>Search Criteria</h2>
															 Enter Food Type:
															 <input type="text" name="fdType" value=""/>
															 Enter Calories:
															<input type="number" name="calories" value=""/>
															 <input type="submit" value="View" name="ingredient">

							</form>

</div>
<div>
<br>
<br>
</div>
	<div>

			<form action="/upload" method ="post" enctype = "multipart/form-data">
               <h2>Upload</h2>
					 Upload file: <input type="file" name="file[]" value="file" placeholder="Browse" multiple/>
					 <br> <br>
					 <input type="submit" value="Upload" name="upload">

			</form>

	</div>
<div>
	<br>
	<br>
</div>
 <div>

                        <form action="/view" method ="post" enctype = "multipart/form-data">
               <h2>View</h2>
                                         View All Pictures:
                                         <br> <br>
                                         <input type="submit" value="View" name="view">

                        </form>

        </div>
<div>
        <br>
        <br>
</div>

    <div>

				<form action="/download" method="get" enctype = "multipart/form-data">
                    <h2>Download</h2>
					Download file: <input type="text" name="dwnldfile" placeholder="Enter Filename">
						<input type="submit" value="Download">
						{{res}}
						<input type="text" value="" name="displayMsg"/>
				</form>
	</div>
<div>
	<br>
	<br>
</div>
    <div>


				<form action="/list" method="post" enctype = "multipart/form-data">
                     <h2>List</h2></legend>
					List all the files : <input type="submit" value="List Files" >
					<br> <br>
				</form>
	</div>
<div>
	<br>
	<br>
</div>
    <div>

				<form action="/delete" method="get" enctype = "multipart/form-data">
                     <h2>Delete</h2></legend>
					Enter file name to be deleted:<input type="text" name="delfile" placeholder="Enter Filename">
					<input type="submit" value="Delete">

                </form>
	</div>
 <div>
	<br>
	<br>
</div>
<div>
	 <form action="/logout">
	 <button type="submit">Logout</button>
	 </form>
</div>
</body>
</html>
